* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
$textCol: #323232;
.width-section {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
header {
  width: 100%;
  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-wrap: wrap;
    .logo {
      display: flex;
      align-items: center;
      img {
        cursor: pointer;
      }
      a {
        font-size: 24px;
        line-height: 36px;
        color: $textCol;
        font-weight: bold;
      }
    }
    nav {
      max-width: 600px;
      width: 100%;
      .nav-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
          a {
            color: $textCol;
            line-height: 24px;
          }
          .active {
            color: #f78434;
            font-weight: bold;
          }
        }
      }
    }
  }
}
main {
  width: 100%;
  .main-section {
    position: relative;
    overflow: hidden;
    .content {
      padding-top: 127px;
      padding-bottom: 133px;
      h1 {
        font-size: 54px;
        line-height: 79px;
        letter-spacing: 0.8px;
        color: $textCol;
        font-weight: bold;
        margin-bottom: 25px;
        max-width: 674px;
      }
      p {
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 1.15px;
        max-width: 467px;
        margin-bottom: 42px;
      }
      .mail-box {
        max-width: 459px;
        background: #fff;
        width: 100%;
        box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
        border-radius: 29px;
        display: flex;
        justify-content: space-between;
        padding: 18px 0 18px 28px;
        align-items: center;
        .fas {
          color: #e8e8e8;
          font-size: 22px;
        }
        span {
          color: #bbbbbb;
          font-size: 16px;
          line-height: 24px;
        }
        .sub-btn {
          a {
            padding: 18px 37px;
            background-color: #f78434;
            border-radius: 29px;
            color: #fff;
            font-size: 16px;
            line-height: 24px;
            font-weight: bold;
          }
        }
      }
    }
    .abs-img {
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }
  .main-ipsum {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 104px 0;
  }
  .main-other-section {
    position: relative;
    padding-bottom: 451px;
    .main-other-container {
      display: flex;
      justify-content: flex-end;
      .other-content {
        padding-top: 70px;
        position: relative;
        h2 {
          max-width: 374px;
          font-size: 42px;
          line-height: 62px;
          letter-spacing: 0.8px;
          color: $textCol;
          font-weight: bold;
          margin-bottom: 20px;
        }
        p {
          max-width: 374px;
          font-size: 16px;
          line-height: 27px;
          letter-spacing: 1.15px;
          color: $textCol;
          margin-bottom: 20px;
        }
        .learn-btn {
          margin-top: 40px;
          a {
            padding: 18px 39px;
            background-color: #f78434;
            border-radius: 29px;
            color: #fff;
            line-height: 24px;
            font-weight: 700;
          }
        }
      }
    }
    .abs-img {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }
  }
  .main-center {
    background-color: #f5f6fa;
    width: 100%;
    .main-center-container {
      transform: translateY(-15%);
      .top-block {
        max-width: 1110px;
        height: 464px;
        background-image: url('./img/img-center/Bg.png');
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 145px;
        .top-content {
          padding-right: 10%;
          padding-top: 92px;
          h2 {
            color: #fff;
            font-size: 42px;
            line-height: 62px;
            letter-spacing: 0.8px;
            font-weight: 700;
            margin-bottom: 15px;
            max-width: 342px;
          }
          p {
            color: #fff;
            font-size: 16px;
            line-height: 27px;
            letter-spacing: 1.15px;
            max-width: 342px;
            margin-bottom: 48px;
          }
          .buttons {
            display: flex;
            grid-gap: 20px;
            .contact {
              a {
                padding: 18px 40px;
                background-color: #f78434;
                border-radius: 29px;
                color: #fff;
                font-weight: 700;
              }
            }
            .watch {
              a {
                padding: 18px 30px;
                background-color: #fff;
                border-radius: 29px;
                color: $textCol;
                font-weight: 700;
                .fas {
                  color: #f78434;
                  margin-right: 7px;
                }
              }
            }
          }
        }
      }
      .bottom-block {
        .bottom-title {
          h2 {
            font-size: 42px;
            font-weight: 700;
            color: $textCol;
            line-height: 62px;
            letter-spacing: 0.8px;
            text-align: center;
            margin-bottom: 10px;
          }
          p {
            font-size: 16px;
            line-height: 27px;
            letter-spacing: 1.15px;
            color: $textCol;
            text-align: center;
            margin-bottom: 45px;
          }
        }
        .bottom-blocks {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .block {
            max-width: 540px;
            width: 100%;
            padding: 40px 15px;
            text-align: center;
            &:nth-child(1) {
              background-color: #f78434;
              color: #fff;
              .button {
                a {
                  color: #f78434;
                  background-color: #fff;
                  border-radius: 29px;
                }
              }
            }
            &:nth-child(2) {
              background-color: #fff;
              color: $textCol;
              .button {
                a {
                  color: #f78434;
                }
              }
            }
            img {
              margin-bottom: 15px;
            }
            h3 {
              font-size: 42px;
              line-height: 63px;
              letter-spacing: 0.8px;
              margin-bottom: 1px;
              font-weight: bold;
            }
            p {
              max-width: 364px;
              line-height: 27px;
              letter-spacing: 1.15px;
              margin: 0 auto 43px auto;
            }
            .button {
              a {
                font-size: 16px;
                line-height: 24px;
                font-weight: 700;
                padding: 18px 39px;
              }
            }
          }
        }
      }
      .choose-block {
        margin-top: 112px;
        padding-bottom: 111px;
        h2 {
          margin-bottom: 58px;
          font-size: 42px;
          line-height: 62px;
          letter-spacing: 0.8px;
          text-align: center;
          font-weight: 700;
          color: $textCol;
        }
        .choose-flex {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .choose-box {
            text-align: center;
            img {
              margin-bottom: 15px;
            }
            h3 {
              font-size: 28px;
              line-height: 42px;
              letter-spacing: 0.5px;
              color: $textCol;
              margin-bottom: 2px;
            }
            p {
              font-size: 16px;
              letter-spacing: 1.15px;
              line-height: 27px;
              color: $textCol;
              max-width: 248px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
  .main-persons {
    padding: 60px 0;
    overflow: hidden;
    .main-persons-container {
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 58px;
        h2 {
          max-width: 452px;
          font-weight: 700;
          font-size: 42px;
          line-height: 62px;
          letter-spacing: 0.8px;
          color: $textCol;
        }
        p {
          line-height: 27px;
          font-size: 16px;
          letter-spacing: 1.15px;
          color: #606060;
          max-width: 398px;
        }
      }
      .person-blocks {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .person-box {
          max-width: 350px;
          border-radius: 0px 0px 5px 5px;
          &:nth-child(1) {
            box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.08);
          }
          &:nth-child(2) {
            .person-img {
              background-image: url('./img/img-person/Your\ image\ here\ \(1\).png');
            }
          }
          &:nth-child(3) {
            .person-img {
              background-image: url('./img/img-person/Your\ image\ here\ \(2\).png');
            }
          }
          .person-img {
            width: 100%;
            height: 204px;
            background-position: center;
            background-size: cover;
            background-image: url('./img/img-person/Your\ image\ here.png');
            position: relative;
            .abs-play {
              position: absolute;
              right: 20px;
              bottom: 20px;
            }
            .abs-graph {
              position: absolute;
              top: -25%;
              right: -10%;
            }
          }
          .content {
            padding: 31px 29px;
            p {
              line-height: 27px;
              letter-spacing: 1.15px;
              color: $textCol;
              margin-bottom: 23px;
            }
            strong {
              font-size: 18px;
              font-weight: bold;
              letter-spacing: 0.6px;
              color: $textCol;
              line-height: 27px;
              margin-bottom: 1px;
            }
            span {
              color: #f78434;
              line-height: 27px;
              letter-spacing: 1.15px;
            }
          }
        }
      }
    }
  }
  .main-bottom {
    background-image: url('./img/img-bottom/Bg.png');
    background-position: center;
    background-size: cover;
    .main-bottom-container {
      position: relative;
      .content {
        padding-top: 195px;
        padding-bottom: 55px;
        position: relative;
        z-index: 10;
        h2 {
          color: #fff;
          font-size: 42px;
          line-height: 62px;
          letter-spacing: 0.8px;
          font-weight: bold;
          max-width: 359px;
          margin-bottom: 15px;
        }
        p {
          line-height: 27px;
          letter-spacing: 1.15px;
          color: #fff;
          max-width: 342px;
          margin-bottom: 48px;
        }
        .button {
          a {
            padding: 18px 39px;
            background-color: #fff;
            color: $textCol;
            border-radius: 29px;
            font-weight: 700;
            line-height: 24px;
          }
        }
      }
      .abs-img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40%;
      }
    }
  }
}
footer {
  padding: 91px 0 82px 0;
  .footer-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .footer-left {
      .logo {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        h3 {
          font-size: 24px;
          line-height: 36px;
          color: $textCol;
          font-weight: 700;
        }
      }
      p {
        line-height: 27px;
        letter-spacing: 1.15px;
        color: $textCol;
        max-width: 300px;
        margin-bottom: 40px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 25px;
        li {
          a {
            font-size: 22px;
          }
        }
        .fa-facebook-square {
          color: #4267b2;
        }
        .fa-twitter {
          color: #1da1f2;
        }
        .fa-youtube {
          color: #ff0000;
        }
        .fa-linkedin-in {
          color: #006699;
        }
      }
    }
    .footer-right {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 544px;
      width: 100%;
      .footer-links {
        h3 {
          font-size: 21px;
          line-height: 31.5px;
          letter-spacing: 0.5px;
          color: $textCol;
          font-weight: 700;
          margin-bottom: 18px;
        }
        ul {
          li {
            margin-bottom: 13px;
            a {
              color: $textCol;
              font-size: 14px;
              line-height: 27px;
              letter-spacing: 0.5px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  main .main-other-section .abs-img {
    opacity: 0.6;
    width: 60%;
  }
  main .main-ipsum {
    justify-content: center;
    grid-gap: 40px;
  }
  main .main-center .main-center-container .bottom-block .bottom-blocks {
    justify-content: center;
    grid-gap: 25px;
  }

  main .main-center .main-center-container .choose-block .choose-flex {
    grid-gap: 25px;
    justify-content: center;
  }
  main .main-persons .main-persons-container .person-blocks {
    justify-content: center;
    grid-gap: 25px;
  }
}
@media screen and (max-width: 992px) {
  header .header-section {
    justify-content: center;
    grid-gap: 40px;
  }
  main .main-center .main-center-container .top-block .top-content h2 {
    color: $textCol;
  }
  main .main-center .main-center-container .top-block .top-content p {
    color: $textCol;
    margin-bottom: 30px;
  }
  main .main-center .main-center-container .top-block .top-content .buttons {
    flex-wrap: wrap;
    grid-gap: 40px;
  }
  main
    .main-center
    .main-center-container
    .top-block
    .top-content
    .buttons
    .watch
    a {
    background-color: $textCol;
    color: #fff;
  }
  main .main-center .main-center-container .top-block .top-content {
    padding: 20px;
  }
  main .main-persons .main-persons-container .title {
    justify-content: center;
    grid-gap: 25px;
  }
  main .main-persons .main-persons-container .title h2 {
    text-align: center;
  }
  main .main-persons .main-persons-container .title p {
    text-align: center;
  }
  footer .footer-section {
    justify-content: center;
    grid-gap: 40px;
  }
  footer .footer-section .footer-right {
    justify-content: center;
    grid-gap: 25px;
  }
}
@media screen and (max-width: 760px) {
  main .main-section .content h1 {
    font-size: 44px;
    line-height: 55px;
  }
  main .main-section .content .mail-box .sub-btn a {
    padding: 18px 25px;
  }
  main .main-section .content .mail-box span {
    font-size: 14px;
  }
  main .main-section .content .mail-box {
    padding: 18px 0 18px 18px;
  }
  main .main-center .main-center-container .choose-block {
    padding-bottom: 0px;
  }
  header .header-section nav .nav-items {
    justify-content: center;
    grid-gap: 25px;
  }
}
@media screen and (max-width: 400px) {
  main .main-section .content .mail-box .sub-btn a {
    padding: 12px 15px;
    font-size: 12px;
  }
  main .main-section .content .mail-box span {
    font-size: 12px;
  }
  main .main-section .content .mail-box {
    padding: 7px 0 8px 18px;
  }
  main .main-other-section .main-other-container {
    margin-bottom: 50px;
  }
}
